.commentformBox {
  float: none;
  display: block;
  margin: 0 auto;
  background-color: white;
  align-content: center;
  padding: 3em;
  background-color: rgb(255, 255, 255);
  border: 20px solid rgb(100, 100, 100);
  border: 20px solid rgba(255,255,255, 0.4);
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  }

.allPosts {
  margin-bottom: 100px;
}

.dropdown {
  color: white;
  margin-bottom: 50px;
  position: relative;
}

.dropdownBtn:hover {
  color: white;
}

#newComment {
  width: 100%;
  background-color: #e4e6d2;
  color: white;
}

input[type=text] {
  color: white;
}

  #commentformPost {
    background-color: #003552;
    border: #003552;
    margin: 0 auto;
    border-radius: 5px;
    color: white;
    width: 100px;
    height: 30px;
    text-align: center;
    float: right;
    margin-top: 20px;
  }

  #commentformPost:hover {
    background-color: #87cad6;
    border: #87cad6;
  }

  p {
    margin: 30px 0 10px 30px;
    font-size: 2rem;
  }

  .fa-heart {
    margin-left: 30px;
    margin-bottom: 10px;
  }

  .commentImages {
    background-color: #8ea5a3;
    margin-bottom: 20px;
    padding: 30px 30px;
    font-size: .85rem;
  }

  h6 {
    margin: 0 0 10px 30px;
    font-size: 1.5rem;
    color: #e7dfc6;
  }

  .images {
    width: 100%;
    height: 100%;
  }
