.posts {
  background-color: lightgray;
  align-content: center;
  margin-bottom: 30px;
}
.d-flex {
  justify-content: center;
  align-items: center;
}

.card-blockquote {
  margin: 20px 100px;

}

.btn-primary {
  background-color: #e5e5e3;
  border-color: #e5e5e3;
}

.btn-primary.active {
  background-color: #7d8591;
  border-color: #7d8591;
}

.btn-primary:hover {
  background-color: #7d8591;
  border-color: #7d8591;
}

.btn-primary:focus {
  background-color: #b9c1c4;
  border-color: #b9c1c4;
}


.btn-group {
  margin-bottom: 10px;
}
