.navigation {
  float: none;
  display: block;
  margin: 0 auto;
  background-color: white;
  align-content: center;
  padding: 3em;
  background-color: rgb(255, 255, 255);
  border: 20px solid rgb(100, 100, 100);
  border: 20px solid rgba(255,255,255, 0.4);
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  }

  .myposts {
    background-color: white;
  }

.title {
  text-align: center;
}

  .mycard {
    text-align: center;
  }

  .btn-group-vertical .btn, .btn-group-vertical .btn-group {
    margin: 0 auto;
    background: white;
    color: gray;
    text-align: left;
  }

  .btn-group-vertical .btn:hover {
    color: #87cad6;
  }

  .row {
    margin: 20px 20px;
  }

  .profileTitle {
     display: block;
    text-align: left;
    margin: 0 auto;
  }

  .line-separator{
    margin-bottom: 20px;
    width: 90%;
    border-bottom:0.5px solid #87cad6;
    }

  .posttitle {
    text-align: center;
  }

  .post {
    margin: 0 auto;
  }

.form-inline .form-control {
  width: 500px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 2px;
}

.profiletitle {
  text-align: center;
}

.changeEmail {
  width: 150px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.changePassword {
  width: 150px;
  margin-bottom: 20px;
  margin-top: 10px;
}
