.navigation {
  float: none;
  display: block;
  margin: 0 auto;
  background-color: white;
  align-content: center;
  padding: 3em;
  background-color: rgb(255, 255, 255);
  border: 20px solid rgb(100, 100, 100);
  border: 20px solid rgba(255,255,255, 0.4);
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  }

  .line-separator {
    margin-bottom: 30px;
    width: 90%;
    border-bottom:0.5px solid #87cad6;
    height: 10px;
    }

  .btn.myPosts {
    background-color: #003552;
    border: #003552;
    margin: 0 auto;
    width: 300px;
  }

  .favDelete {
    background-color: #003552;
    border: #003552;
    width: 600px;
    margin: 25px auto;
  }

  .btn.myPosts:hover {
    background-color: #87cad6;
    border: #87cad6;
  }

  .mycard {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }

  .card-body {
    margin-top: 20px;
  }

  .btn-group-vertical .btn, .btn-group-vertical .btn-group {
    margin: 0 auto;
    background: white;
    color: gray;
    text-align: left;
  }

  .btn-group-vertical .btn:hover {
    color: #87cad6;
  }

  .row {
    margin: 20px 20px;
  }

  .title {
    display: block;
    text-align: left;
    margin: 0 auto;
  }

  .favposts {
    display: block;
   text-align: left;
   margin: 50px 0;
  }

  .ranking {
    display: block;
   text-align: left;
   margin: 50px 0;
  }

  .notifications {
    display: block;
   text-align: left;
   margin: 50px 0;
  }

  .myposts {
  display: block;
   text-align: left;
   margin: 50px 0;
  }

  .notifications {
    display: block;
     text-align: left;
     margin: 50px 0;
  }

.form-check-label {
  padding: 0;
  display: inline;
}

.col-auto {
  padding: 0;
  display: inline;
}

  .notificationButtons {
    display: block;
     text-align: center;
     margin: 0 auto;
  }

  .posttitle {
    text-align: center;
  }

  .post {
    width: 650px;
  }

.form-inline .form-control {
  width: 500px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 2px;
}

.changeEmail {
  width: 150px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.changePassword {
  width: 150px;
  margin-bottom: 20px;
  margin-top: 10px;
}
