.nyamelogo {
  margin: 0 auto;
}

.logo {
  height: 120px;
  /*width: 50px;*/
  padding-left: 25px;
  padding-bottom: 9px;

}

.websiteName {
  text-align: center;
}

.navbar {
  background-color: #003552;
  height: 150px;
}

h2 {
  color: white;
  margin: 0 auto;
  font-family: 'Megrim', cursive;
  text-align: left;
  padding-left: 20px;
  font-size: 80px
  /*font-family: 'Megrim', cursive;*/
}

body {
  background-image: url("./images/tealandred.png");
  background-size: cover;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  color: white;
  margin-top: -35px;
}

.loginRow {
  align-content: center;
}

.navbar-default {
    padding-top: 20px;
    padding-right: 20px;
    border-color: #e7e7e7;
    justify-content: left;
}

.form {
  /*font-family: 'Alegreya Sans SC', sans-serif;*/
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}
