input.form-control {
  -webkit-appearance: none;
  background-color: #d6dcd0 ;
}

input[type=text] {
  -webkit-appearance: searchfield;
  background-color: #d6dcd0 ;
}

.loginBox {
  float: none;
  display: block;
  margin: 0 auto;
  background-color: white;
  align-content: center;
  padding: 3em;
	background-color: rgb(255, 255, 255);
	border: 20px solid rgb(100, 100, 100);
	border: 20px solid rgba(255,255,255, 0.4);
  border-radius: 20px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
}

.signUpHere {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.btn {
  background-color: #003552;
  border: #003552;
  margin-top: 20px;
}

.btn:hover {
  background-color: #86ccd7;
  border: #86ccd7;
}
